<!DOCTYPE html>
<html>
  <head>
    <title>Projetos Filmes e Séries</title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <h1>Projetos Filmes e Séries</h1>
    <ul>
      <li><a href='/listar'>Listar filmes</a></li>
    </ul>
  </body>
</html>
