<!DOCTYPE html>
<html>

<head>
  <title>
    Mensagem
  </title>
  <link rel='stylesheet' href='/stylesheets/style.css' />
</head>

<body>
  <h1>Página Mensagem</h1>
  <p><%= mensagem %></p>
</body>

</html>
